@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x:hidden !important ;
}

button {
  box-shadow: 2px 2px 5px gray !important;
}
.element:hover {
  background-color: #ffbf41 !important;
  padding: 2px !important;
}
footer a {
  text-decoration: none !important;
  color: gainsboro !important;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease; 
}
.image{
    display: block !important;
    height: auto !important;
    width: 100% !important;
}
/* .container1:hover .overlay {
  opacity: 1;
} */
#filter{
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: cover !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}